<img class="logo" width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

<input type="text" class="task-input" placeholder="Próxima tarea ...." [(ngModel)]="taskTitle" (keyup.enter)="addTask()">

<div class="task-item" *ngFor="let task of tasksFiltered()">
	<div class="task-item-left">
		<input type="checkbox" [(ngModel)]="task.completed">
		<div *ngIf="!task.editing; else editingTask" class="task-item-label" [ngClass]="{ 'completed' : task.completed}"  (dblclick)="editTask(task)"> {{task.title}} </div>
		<ng-template #editingTask>
			<input type="text" class="task-item-edit" [(ngModel)]="task.title" (blur)="doneEdit(task)" (keyup.enter)="doneEdit(task)" (keyup.esc)="cancelEdit(task)" autofocus>
		</ng-template>
	</div>
	<div class="remove-item" (click)="deleteTask(task.id)">
		&times;
	</div>
</div>

<div class="extra-container">
	<div><label><input type="checkbox" (change)="checkAllTasks()">Seleccionar todo</label></div>
	<div>{{ remaining() }} tareas pendientes</div>
</div>

<div class="extra-container">

	<div>
		<button [ngClass]="{ 'active': filter == 'all' }" (click)="filter='all'">Todo</button>
		<button [ngClass]="{ 'active': filter == 'active' }" (click)="filter='active'">Pendiente</button>
		<button [ngClass]="{ 'active': filter == 'completed' }" (click)="filter='completed'">Completado</button>
	</div>

	<div *ngIf="atLeastOneCompleted()">
		<button (click)="clearCompleted()">Limpiar tareas completadas</button>
	</div>

</div>

